.tank-item {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(9, 18, 66, 0.4);
    border: 2px solid transparent;
    transition: border-color 0.5s ease;
    width: 480px;
    padding: 0 10px;
}

.tank-item-highlight {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(9, 18, 66, 0.4);
    border: 2px solid rgb(10, 132, 255);
    transition: border-color 0.5s ease;
}

.tank-item-header {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tank-header-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.tank-info-column>h3 {
    color: #343434;
}

.tank-info-column {
    display: flex;
    flex-direction: column;
}

.tank-info-column>p {
    margin: 0;
}

.tank-header-info .tank-info-column p:first-of-type {
    font-weight: normal;
    font-size: 12px;
    color: #4F4F4F;
}

.tank-header-info .tank-info-column p {
    font-size: 12px;
    color: rgb(67, 67, 67);
    font-weight: light;
}

.tank-header-info .tank-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tank-current-values {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.tank-current-values>h4 {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.tank-header-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    justify-self: center;
}

.ac-delete-button {
    height: 32px;
    width: 32px;
    padding: 8px;
    background-color: rgb(235, 0, 0);
    border: 0;
}

.ac-delete-button:hover, .ac-delete-button:focus {
    background-color: rgb(185, 2, 2);
}

.ac-edit-button {
    height: 32px;
    width: 32px;
    padding: 6px;
    background-color: #E2E8F0;
    border: 0;
}

.ac-edit-button:hover, .ac-edit-button:focus {
    background-color: #c9ced4;
}

.delete-icon {
    width: 26px;
    height: 26px;
    color: #fff;
}

.edit-icon {
    width: 26px;
    height: 26px;
    color: #0A84FF;
}