.device-info {
    border: 1px solid rgba(0, 128, 0, 0.1);
    border-radius: .25rem;
    padding: 5px;
    font-size: 0.9rem;
    background-color: rgb(152, 221, 250);
}

.device-info ul {
    border-top: 1px solid rgb(0, 0, 0);
}

.device-info-header {
    display: flex;
    justify-content: space-between;
}