.loading-div {
    border: 5px solid rgb(216, 216, 216);
    border-top: 5px solid rgb(43, 151, 240);
    border-radius: 100%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    transform: (-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}