.Dropdown {
    min-width: 150px;
    position: relative;
    z-index: 78;
}

.DropdownPanel {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    padding: 1rem;
    background-color: #ffffff;
    max-width: 150px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.DropdownOptions {
    border-width: 1px;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 0;
}

.ChevronDown {
    font-size: 1.125rem;
}

.SelectOption {
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.25rem;
}

.SelectOption:hover {
    background-color: #e0f7fd;
}