.Footer {
    background-color: #071624;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: #efefef;
    text-align: right;
    font-style: italic;
    box-shadow: 0px 0px 15px 0px black;
}

.Footer img {
    max-width: 100px;
}