.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d1d5db;
    opacity: 0.8;
}

.modal {
    position: fixed;
    top: 10rem;
    right: 10rem;
    bottom: 10rem;
    left: 10rem;
    padding: 2.5rem;
    background-color: #ffffff;
}

.modal-close-button {
    background-color: #f77b7b;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    justify-content: center;
    color: floralwhite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    transition: background-color 0.5s;
    margin-top: 1rem;
}

.modal-delete-button {
    background-color: #f77b7b;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    justify-content: center;
    color: floralwhite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    transition: background-color 0.5s;
    margin-top: 1rem;
}

.modal-delete-button:hover {
    background-color: #ff4f4f;
}

.modal-cancel-delete-button {
    background-color: #4fc542;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    justify-content: center;
    color: floralwhite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    transition: background-color 0.5s;
    margin-top: 1rem;
}

.modal-cancel-delete-button:hover {
    background-color: #20de0a;
}

.modal-close-button:hover {
    background-color: #ff4f4f;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-options {
    display: flex;
    justify-content: flex-end;
}