table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #0050A1;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

th {
    border: 1px solid #fff;
}

td {
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}

td:first-child {
    border-left: none;
}

/* Remove a borda direita do último <td> em cada linha */
td:last-child {
    border-right: none;
}

.column-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    justify-content: flex-end;
}

table th:hover {
    cursor: pointer;
}

tbody {
    border-top: 1px solid rgba(71, 71, 71, 0.2);
}

td {
    padding: 0 1px;
}

tbody tr:nth-child(even) {
    background-color: #F3F4FC;
}