.tank-item-info {
    padding: 1rem;
}

.tank-item-info > p {
    margin-bottom: 0.5rem;
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: underline;
}

.TankItemContainer {
    border-radius: 0.25rem;
    width: 80%;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.tankItemHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    align-items: center;
    background: linear-gradient(to right, #0A84FF, #035eb8);
}

.tankItemHeader button {
    opacity: 1;
    background-color: white;
}

.tank-item-info > .aviso-sem-aparelho {
    text-decoration: none;
    color: rgb(254, 169, 1);
    text-align: center;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}