.menu-list-item-link {
    transition: all 0.1s;
    box-sizing: border-box;
}

.menu-list-item-icon {
    width: 30px;
    margin-right: 16px;
    height: 30px;
}

.menu-list-item-link {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width: auto;
    align-items: center;
}

.selected {
    display: flex;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    align-items: center;
    color: #091242;
    background-color: #fff;
    border-radius: 5px;
}

@media (max-width: 860px) {
    .menu-list-item-icon {
        margin-right: 0;
    }

    .menu-list-item-link, .selected {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .nav-content a:hover {
        background-color: #fff;
        color: #091242;
        padding: 10px;
    }
}