.property-value-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.property-value-item p {
    margin: 0;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 230px;
    background-color: #fff;
    color: #343434;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -110%;
    left: -310px; /* Ajuste para posicionar a tooltip corretamente */
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    transform: (110%, 110%);
    box-shadow: 0px 1px 10px 1px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.tooltip .tooltiptext::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px; /* Ajuste para centralizar verticalmente a seta */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
