.search-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 16px;
}

.search-bar-input {
    width: 250px;
    height: 2.5rem;
    border: none; 
}

.search-bar-input:hover, .search-bar-input:focus {
    background-color: #fff;
}

.search-bar-input::placeholder {
    color: #828282;
}

.search-bar-button {
    height: 2.5rem;
    border-radius: 40px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #0A84FF;
    color: #fff;
    grid-column: 3;
    width: fit-content;
    justify-self: center;
}

.search-bar-button:hover, .search-bar-button:focus {
    background-color: #0971d9;
}

.search-bar-lupe-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #0A84FF;
    padding-right: 0.2rem;
}

.search-bar-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #0A84FF;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    grid-column: 2;
}

@media (max-width: 1000px) {
    .search-bar-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .search-bar-input-container {
        grid-row: 1;
        justify-self: center;
    }

    .search-bar-button {
        grid-row: 2;
        grid-column: 2;
        justify-self: center;
    }
  }