.dropdown-container {
    pointer-events: all;
    position: relative;
    width: 100%;
}

.dropdown-current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    width: 100%;
    padding: 10px;
}

.dropdown-options {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 4;
    background-color: #fff;
}

.dropdown-option {
    cursor: pointer;
    padding: 10px;
}

.dropdown-option:hover {
    cursor: pointer;
    padding: 10px;
    background-color: rgb(227, 250, 250);
}