* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #ffffff;
  color: #242424;
}

#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

h1 {
  text-transform: capitalize;
}

button[type="submit"] {
  background-color: #2db8d1;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  justify-content: center;
  color: floralwhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: none;
  transition: background-color 0.5s;
}

button[type="submit"]:hover {
  background-color: #0083B1;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.25s;
  font-size: 1rem;
}

.InputContainer {
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1rem;
}

.InputContainer input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #f8f8f8;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 1rem;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: background-color 0.25s;
  font-size: 1rem;
}

.Separator {
  color: rgba(0, 0, 0, 0.6);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Subtitle {
  text-align: center;
}

.Separator hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 1px;
}

.HrText::before {
  content: '';
  margin-left: 10px;
}

.HrText::after {
  content: '';
  margin-right: 10px;
}

.Icon {
  color: #1076cf;
  font-size: 1.5rem;
  margin-right: 5px;
}

input:hover,
input:focus {
  background-color: #f8f8f8;
}

.PageTitle {
  position: fixed;
  top: 0;
  left: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  background: #2BBEE2;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 300px);
  padding: 0 3rem;
  overflow-x: hidden;
  z-index: 2;
  gap: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.PageTitle h1 {
  margin-top: auto;
  font-weight: 900;
  margin-left: 1rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
