.nav-bar > header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 280px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 5px;
}

.nav-bar>header>h2 {
    font-size: 1.5rem;
}

.nav-bar header img {
    max-width: 3rem;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #091242;
    display: block;
    width: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

.nav-content {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;   
}

.user-profile-info {
    position: fixed;
    display: flex;
    left: 10px;
    bottom: 10px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 280px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-top: auto;
}

.user-name-and-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sair-button {
    display: block;
    color: #091242;
    display: flex;
    align-items: center;
    width: auto;
    border-color: transparent;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
}

.sair-button .sair-icon {
    margin-right: 10px;
    width: 1.5rem;
    height: 2rem;
    color: #091242;
}

.perfil-icon {
    width: 44px;
    margin-right: 10px;
    height: 52.8px;
    color: #091242;
}

.nome-user {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #091242;
}

.papel-user {
    font-style: oblique;
    color: #091242;
    font-size: 0.8rem;
}

@media (max-width: 860px) {
    .nav-bar, .user-profile-info, .nav-bar > header {
        width: 60px;
    }

    span, .nav-bar>header>h2, .nome-user, .papel-user, .sair-button>span, .perfil-icon {
        display: none;
    }

    .nav-content {
        padding: 0;
    }

    .nav-bar>header {
        border-radius: 50%;
        padding: 10px;
        height: 54px;
        width: 54px;
    }

    .user-profile-info {
        left: 0;
        width: 60px;
        background-color: transparent;
        color: #fff;
    }

    .user-profile-info button {
        width: 60px;
        background-color: transparent;
        padding-left: 19px;
        color: #fff;
        border-color: #091242;
    }

    .user-profile-info button .sair-icon {
        color: #fff;
    }

    .user-profile-info button:hover .sair-icon {
        color: #091242;
    }
}