.select-aparelhos-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    overflow-x: auto;
    pointer-events: all;
    overscroll-behavior-block: contain;
    height: 50px;
}

.grafico-modal-header {
    padding: 10px;
    color: #4F4F4F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.grafico-modal-header>h3>span {
    color: #0050A1;
}

.grafico-modal-header p {
    margin: 0;
}

.select-aparelhos-container>button {
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    transition: all 0s;
    border: 0;
    padding: 16px 16px;
    outline: none;
}

.select-aparelhos-container>button:hover {
    background-color: #ECECEC;
    color: #0A84FF;
}

.selected-aparelho-button,
.selected-aparelho-button:focus {
    background-color: #ECECEC;
    color: #0A84FF;
}

.aparelho-button {
    background-color: #0050A1;
    color: #F5F5F5;
}

.grafico-container {
    display: flex;
    pointer-events: all;
    flex-grow: 1;
}

.tank-details-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}